/* header */
.nav-top{
  width: 100%;
  height: 100px;
  background-color: #080B12;
}

/* button upgrade */
.upgrade-flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}

.upgrade-flex a{
  color: #ffffff;
}
/* button upgrade */

/* header */

/* main */
main{
  height: calc(100vh - 100px - 100px);
  overflow-y: auto;
}

/* main */

/* footer */
footer{
  height: 100px;
  background-color: #282828;
}

/* footer */
