/* header */
header{
  width: calc(100vw - 200px);
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
}

.nav-top{
  height: 80px;
  background-color: rgba(8, 11, 18, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pos-rel{
  position: relative;
}

/* button upgrade */
.nav-top a{
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 12px;
  margin-right: 25px;
}

.nav-top a:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px 40px;
  font-size: 14px;
}
/* button upgrade */
/* header */

/* main */
/* navbar laterale */
aside{
  width: 200px;
  height: 100%;
  background-color: #000000;
}
/* logo */
.logo{
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 20px;
}

.logo i{
  display: none;
}

.logo img{
  width: 75%;
}
/* logo */

/* parte sopra navbar laterale */
.list-home{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 20px;
}

.list-home a{
  padding-top: 10px;
  color: #595959;
  text-decoration: none;
}

.list-home a:first-child{
  color: #ffffff;
  margin-top: -10px;
}

.list-home a i{
  font-size: 20px;
  margin-right: 5px;
}

.list-home a svg{
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.list-home a:hover{
  color: #ffffff;
}
/* parte sopra navbar laterale */

/* parte centrale navbar laterale */
.list-home h5{
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

#plus i{
  vertical-align: middle;
  background-color: #A3A3A3;
  color: #000000;
  font-size: 20px;
  padding: 10px;
}
/* parte centrale navbar laterale */

/* parte sotto nav laterale */
.dati-utenti{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: 20px;
  position: absolute;
  bottom: 5px;
}

.dati-utenti > span{
  width: 160px;
  height: 1px;
  background-color: #595959;
  margin-top: 5px;
}

.dati-utenti a:first-child {
  text-decoration: none;
  color: #595959;
}
.dati-utenti a:first-child i{
  margin-right: 10px;
  color: #595959;
}


.dati-utenti a:last-child {
  text-decoration: none;
  color: #ffffff;
  margin-top: 10px;
  vertical-align: middle;
}
.dati-utenti a:last-child i{
  color: #595959;
  margin-right: 5px;
  font-size: 24px;
  vertical-align: middle;
}
/* parte sotto nav laterale */
/* navbar laterale */

main{
  height: calc(100vh - 100px);
  display: flex;
}

.body-main{
  width: calc(100% - 200px);
  overflow-y: auto;
  background-color: #141922;
  padding-top: 80px;
}

/* paragrafi sopra */
.p-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.p-title div a{
  text-decoration: none;
  color: #6F7176;
  text-transform: uppercase;
}

.p-title div a:hover{
  color: #ffffff;
}

.p-title > div{
  display: inline-block;
  padding: 15px 15px;
  font-size: 14px;
}


.p-title #line-green{
  height: 2px;
  width: 50px;
  background-color: #ADFF2F;
  margin-left: 15px;
}
/* paragrafi sopra */

/* ascoltati di recente e creato per te */
.recently{
  margin: 0 auto;
  width: 98%;
}

.recently > h2{
  color: #ffffff;
  margin-left: 15px;
  font-size: 25px;
}

.recently > p{
  color: #505359;
  margin-left: 15px;
}

.container-cover{
  display: flex;
}

.cover{
  width: calc(100%/12*2);
  margin-top: 20px;
  padding-left: 15px;
}


.cover h4{
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.cover p{
  color: #6D6F74;
  text-align: center;
  font-size: 13px;
}

.my-circle img{
  border-radius: 50%;
}

.cover img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* hover cover */
.cover:hover img{
  cursor: pointer;
  opacity: 0.3;
}

.cover:hover .over-img {
  opacity: 1;
}

.over-img{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.over-img .fa-play-circle{
  font-size: 50px;
  color: #ffffff;
}


/* main */

/* footer */
/* footer left */
footer{
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left{
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.song {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.song h5{
  color: #ffffff;
  font-size: 14px;
}

.song p{
  color: #6D6F74;
  font-size: 12px;
}

.icon{
  display: flex;
  flex-wrap: wrap;
}
.icon a{
  color: #6D6F74;
  font-size: 16px;
  padding-left: 20px;
}
/* footer left */

/* footer central */
.play-section a{
  text-decoration: none;
  color: #ffffff;
  padding-left: 35px;
  position: relative;
  left: 100px;
  font-size: 20px;
  vertical-align: middle;
}

.play-section a:nth-child(3){
  font-size: 35px;
}

.riproduzione{
  display: flex;
  align-items: center;
}

.riproduzione a{
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.riproduzione div:first-of-type{
  height: 3px;
  background-color: #ffffff;
  width: 100px;
  margin-left: 30px;
  border-radius: 5px;
}

.riproduzione div:last-of-type{
  height: 3px;
  background-color: #6D6F74;
  width: 330px;
  margin-right: 30px;
  border-radius: 5px;
}
/* footer central */

/* footer right */
.foot-right{
  display: flex;
  align-items: center;
}

.foot-right a{
  color: #ffffff;
  text-decoration: none;
  padding-right: 20px;
}

.foot-right div:first-of-type{
  height: 3px;
  background-color: #ffffff;
  width: 30px;
  border-radius: 5px;
}

.foot-right div:last-of-type{
  height: 3px;
  background-color: #6D6F74;
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
}

/* footer right */
/* footer */

/* media query */
@media all and (max-width: 1200px)
and (min-width: 992px){
  .container-cover{
    display: flex;
    flex-wrap: wrap;
  }

  .cover{
    width: calc(100%/12*3);
    padding-left: 0px;
  }

  .cover img{
    width: 90%;
  }

  /* footer */
  .play-section a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 25px;
    position: relative;
    left: 60px;
    font-size: 15px;
  }

  .play-section a:nth-child(3){
    font-size: 30px;
  }

  .riproduzione div:first-of-type{
    width: 80px;
    margin-left: 20px;
  }

  .riproduzione div:last-of-type{
    width: 220px;
    margin-right: 20px;
  }
}

@media all and (max-width: 992px)
and (min-width: 768px){
  .container-cover{
    display: flex;
    flex-wrap: wrap;
  }

  .cover{
    width: calc(100%/12*3);
    padding-left: 15px;
  }

  .cover img{
    width: 100%;
  }

  /* footer */
  .play-section a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 15px;
    position: relative;
    left: 60px;
    font-size: 12px;
  }

  .play-section a:nth-child(3){
    font-size: 25px;
  }

  .riproduzione div:first-of-type{
    width: 50px;
    margin-left: 10px;
  }

  .riproduzione div:last-of-type{
    width: 190px;
    margin-right: 10px;
  }

  .foot-right div:first-of-type{
    height: 3px;
    background-color: #ffffff;
    width: 20px;
    border-radius: 5px;
  }

  .foot-right div:last-of-type{
    height: 3px;
    background-color: #6D6F74;
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .foot-right a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 10px;
  }
}

  @media all and (max-width: 768px){
    /* navbar laterale */
    /* logo */
    header{
      width: calc(100vw - 50px);
    }

    aside{
      width: 50px;
    }

    .body-main{
      width: calc(100% - 50px);
    }

    .logo{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 10px;
      margin-left: 0px;
      height: 50px;
    }

    .logo img{
      display: none;
    }

    .logo i{
      display: block;
      font-size: 30px;
      color: #ffffff;
    }
    /* logo */

    .list-home{
      display: flex;
      flex-direction: column;
      font-size: 0;
      margin-left: 0;
    }

    .list-home a{
      display: flex;
      justify-content: center;
    }

    .list-home a i{
      font-size: 25px;
      margin-right: 0;
    }

    .dis-none{
      display: none;
    }

    .dati-utenti{
      font-size: 0px;
      margin-left: 0px;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 50px;
    }

    .dati-utenti span{
      height: 0;
    }

    .dati-utenti a:first-child i{
      margin-right: 0px;
      color: #595959;
      font-size: 14px;
    }

    .dati-utenti a:last-child i{
      margin-right: 0px;
      color: #595959;
      font-size: 30px;
    }
    /* navbar laterale */
    .container-cover{
      display: flex;
      flex-wrap: wrap;
    }

    .cover{
      width: calc(100%/12*6);
      padding-left: 15px;
    }

    .cover img{
      width: 100%;
    }

    /* footer */
    .song h5{
      color: #ffffff;
      font-size: 12px;
    }

    .song p{
      color: #6D6F74;
      font-size: 10px;
    }

    .icon a {
      color: #6D6F74;
      font-size: 13px;
      padding-left: 10px;
    }

    .foot-left img{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
    }

    .play-section a{
      text-decoration: none;
      color: #ffffff;
      padding-left: 10px;
      position: relative;
      left: 50px;
      font-size: 10px;
    }

    .play-section a:nth-child(3){
      font-size: 22px;
    }

    .riproduzione div:first-of-type{
      width: 30px;
      margin-left: 5px;
    }

    .riproduzione div:last-of-type{
      width: 150px;
      margin-right: 5px;
    }

    .foot-right div:first-of-type{
      height: 3px;
      background-color: #ffffff;
      width: 15px;
      border-radius: 5px;
    }

    .foot-right div:last-of-type{
      height: 3px;
      background-color: #6D6F74;
      width: 50px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .foot-right a{
      color: #ffffff;
      text-decoration: none;
      padding-right: 10px;
    }
  }

@media all and (max-width: 580px) {
  .icon a {
    color: #6D6F74;
    font-size: 13px;
    padding-left: 10px;
  }

  .play-section a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    position: relative;
    left: 20px;
    font-size: 10px;
  }

  .play-section a:nth-child(3){
    font-size: 20px;
  }

  .riproduzione div:first-of-type{
    width: 30px;
    margin-left: 5px;
  }

  .riproduzione div:last-of-type{
    width: 90px;
    margin-right: 5px;
  }

  .foot-right > div,
  .foot-right a:last-of-type{
    display: none;
  }
}

@media all and (max-width: 400px) {
  .song{
    display: none;
  }

}
